@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SomarRegular";
  src: local("SomarRegular"), url("./assets/fonts/Somar-Regular.ttf") format("truetype");
  font-weight: normal;

}

@font-face {
  font-family: "SomarBold";
  src: local("SomarBold"), url("./assets/fonts/Somar-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "SomarSemiBold";
  src: local("SomarSemiBold"), url("./assets/fonts/Somar-SemiBold.otf") format("opentype");
}

* {
  font-family: "SomarRegular";
}

.SomarSemiBold {
  font-family: "SomarSemiBold";
}

.SomarBold {
  font-family: "SomarBold";
}

.halfandhalf {
  min-width: 100%;
  background: linear-gradient(to bottom, white 0%, white 40%, #F5F4F4 60%, #F5F4F4 100%);
}

@media (min-width: 1024px) {

  /* Your CSS code for screens larger than iPad goes here */
  .halfandhalf {
    background: #F5F4F4 100%;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}